:root {
  --reach-dialog: 1;
}
[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: #fff;
  padding: 2rem;
  outline: none;
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../media/Inter-Thin.de9194d1.html) format("woff2"),
    url(../media/Inter-Thin.fcc91246.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../media/Inter-ThinItalic.ec0fcc99.html) format("woff2"),
    url(../media/Inter-ThinItalic.6b5565d7.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../media/Inter-ExtraLight.21843ac6.html) format("woff2"),
    url(../media/Inter-ExtraLight.7b7bd05c.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../media/Inter-ExtraLightItalic.04abe79a.html) format("woff2"),
    url(../media/Inter-ExtraLightItalic.a7a00555.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../media/Inter-Light.51f4d175.html) format("woff2"),
    url(../media/Inter-Light.c08cfeeb.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../media/Inter-LightItalic.8942ebe8.html) format("woff2"),
    url(../media/Inter-LightItalic.203b9b31.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../media/Inter-Regular.6cc68d6b.html) format("woff2"),
    url(../media/Inter-Regular.8398b376.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../media/Inter-Italic.e2f52803.html) format("woff2"),
    url(../media/Inter-Italic.635afeed.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../media/Inter-Medium.ba68c34a.html) format("woff2"),
    url(../media/Inter-Medium.f5549f68.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../media/Inter-MediumItalic.d29ef50a.html) format("woff2"),
    url(../media/Inter-MediumItalic.2812ec5a.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../media/Inter-SemiBold.625474d6.html) format("woff2"),
    url(../media/Inter-SemiBold.25b1ffc9.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../media/Inter-SemiBoldItalic.c632fb96.html) format("woff2"),
    url(../media/Inter-SemiBoldItalic.80d799be.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../media/Inter-Bold.a808c21a.html) format("woff2"),
    url(../media/Inter-Bold.1c3dfbb0.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../media/Inter-BoldItalic.97443965.html) format("woff2"),
    url(../media/Inter-BoldItalic.32e2b20f.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../media/Inter-ExtraBold.1ca2a2cf.html) format("woff2"),
    url(../media/Inter-ExtraBold.30c3d891.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../media/Inter-ExtraBoldItalic.a0a103e5.html) format("woff2"),
    url(../media/Inter-ExtraBoldItalic.cd668286.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../media/Inter-Black.ef2d12b9.html) format("woff2"),
    url(../media/Inter-Black.e258f998.html) format("woff");
}
@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../media/Inter-BlackItalic.a1ea21b0.html) format("woff2"),
    url(../media/Inter-BlackItalic.70d2cf35.html) format("woff");
}
@font-face {
  font-family: inter var;
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(../media/Inter-roman.var.b65534c5.html)
      format("woff2 supports variations(gvar)"),
    url(../media/Inter-roman.var.b65534c5.html) format("woff2-variations"),
    url(../media/Inter-roman.var.b65534c5.html) format("woff2");
}
@font-face {
  font-family: inter var;
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: "Italic";
  src: url(../media/Inter-italic.var.b27297c1.html)
      format("woff2 supports variations(gvar)"),
    url(../media/Inter-italic.var.b27297c1.html) format("woff2-variations"),
    url(../media/Inter-italic.var.b27297c1.html) format("woff2");
}
@font-face {
  font-family: inter var experimental;
  font-weight: 100 900;
  font-style: oblique 0 10deg;
  src: url(../media/Inter.var.9df5db38.html) format("woff2-variations"),
    url(../media/Inter.var.9df5db38.html) format("woff2");
}
